<!DOCTYPE html>

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>

<body>
    <div class="container mt-2" id="dataHolder">
        <div class="jumbotron p-3">
            <h1>Datos personales</h1>
            <div class="row"><label class="col-sm-3" for="name">Nombre:</label>
                <p class="col-sm-9 text-capitalize" id="name"></p>
            </div>
            <div class="row"><label class="col-sm-3" for="score">Score:</label>
                <p class="col-sm-9 text-capitalize" id="score"></p>
            </div>
            <div class="row"><label class="col-sm-3" for="gender">Genero:</label>
                <p class="col-sm-9 text-capitalize" id="gender"></p>
            </div>
            <div class="row"><label class="col-sm-3" for="code">C&oacute;digo:</label>
                <p class="col-sm-9 text-capitalize" id="code"></p>
            </div>
            <div class="row"><label class="col-sm-3" for="birth_entity">Entidad de nacimiento:</label>
                <p class="col-sm-9 text-capitalize" id="birth_entity"></p>
            </div>
            <div class="row"><label class="col-sm-3" for="profesional_title_institution">T&iacute;tulo profesional (instituci&oacute;n):</label>
                <p class="col-sm-9 text-capitalize" id="profesional_title_institution"></p>
            </div>
        </div>
        <!-- separador-->
        <div class="clearfix"></div>
    </div>

    <%- include('loadingModal') %>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/latinize.js"></script>
    <script src="/js/person.js"></script>
</body>
